<!DOCTYPE html>
<html>
  <head>
    <title>TEMP CLIENT</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.3.min.js" ></script>
  </head>
  <body>
    <button onclick="create()">Create a room 1</button>
    <div>    
      <input type="number" id="totalPlayers"  />
      <input type="number" id="evilPlayers"  />
    </div>

    <script>
      function create() {
        var totalPlayers = $('#totalPlayers').val();
        var evilPlayers = $('#evilPlayers').val();
        var connection = new WebSocket('ws://localhost:3000');
        var bundle = {
          Action: 'create',
          TotalPlayers: totalPlayers,
          EvilPlayers: evilPlayers
        }
        connection.onopen = function () {
          connection.send(JSON.stringify(bundle));
        };

        // Log errors
        connection.onerror = function (error) {
          console.log('WebSocket Error ' + error);
        };

        connection.onmessage = function (e) {
          var room = JSON.parse(e.data);
          $( "input[name='roomNum']" ).val(room); 
          console.log(JSON.stringify({'roomNum': room}));
        };


      }
    </script>
    <div>
        <button onclick="join()">join a room 2</button>
        <input type="number" name="roomNum"  />
    </div>
    
    <div>
        <button onclick="join()">join a room 3</button>
        <input type="number" name="roomNum"  />
    </div>
    <div>
        <button onclick="join()">join a room 4</button>
        <input type="number" name="roomNum"  />
    </div>
    <div>
        <button onclick="join()">join a room 5</button>
        <input type="number" name="roomNum"  />
    </div>
    <div>
        <button onclick="join()">join a room 6</button>
        <input type="number" name="roomNum"  />
    </div>
    <div>
        <button onclick="join()">join a room 7</button>
        <input type="number" name="roomNum"  />
    </div>
    <script>
      function join() {
        var connection = new WebSocket('ws://localhost:3000');
        connection.onopen = function () {
          var roomNum = $( "input[name='roomNum']" ).val();    
          var bundle = {
            Action: "join",
            RoomNum: roomNum
          }      
          connection.send(JSON.stringify(bundle));
        };

        // Log errors
        connection.onerror = function (error) {
          console.log('WebSocket Error ' + error);
        };

        // Log messages from the server
        connection.onmessage = function (e) {
          console.log('Server: ' + e.data);
        };
      }
    </script>
  </body>
</html>