<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <button onclick="create()">Create a room 1</button>

    <script>
      var roomNum = -1;
      function create() {
        var connection = new WebSocket('ws://localhost:3000');
        // When the connection is open, send some data to the server
        connection.onopen = function () {
          connection.send('create'); // Send the message 'Ping' to the server
        };

        // Log errors
        connection.onerror = function (error) {
          console.log('WebSocket Error ' + error);
        };

        // Log messages from the server
        connection.onmessage = function (e) {
          var room = JSON.parse(e.data);
          roomNum = room.roomID
          console.log(JSON.stringify({'roomNum': roomNum}));
        };
      }
    </script>
    <button onclick="join()">join a room 2</button>
    <button onclick="join()">join a room 3</button>
    <button onclick="join()">join a room 4</button>
    <button onclick="join()">join a room 5</button>
    <button onclick="join()">join a room 6</button>
    <button onclick="join()">join a room 7</button>
    <script>
      function join() {
        var connection = new WebSocket('ws://localhost:3000');
        connection.onopen = function () {
          connection.send(JSON.stringify({'roomNum': roomNum}));
        };

        // Log errors
        connection.onerror = function (error) {
          console.log('WebSocket Error ' + error);
        };

        // Log messages from the server
        connection.onmessage = function (e) {
          console.log('Server: ' + e.data);
        };
      }
    </script>
  </body>
</html>